@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mukta', sans-serif;
    background-color: #05404b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

h1{
    color: #f3ff51;
    width: fit-content;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.inputValue {
    background-color:#085b69;
    font-family: 'Mukta', sans-serif;
    height: 44px;
    width: 80%;
    border-style: 1px black solid ;
    text-align: center;
    border-radius: 8px;
}

.inputValue::placeholder {
    color: #FFF;
    font-size: 1.1rem;
}

.inputValue:hover{
   background-color: #0f8ba1;
}

.inputValue{
    font-size: 2rem;
}

.submit, .reset {
    background-color: transparent;
    color: #f3ff51;
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
    border-radius: 8px;
    border-style: 1px black solid ;
    text-align: center;
    padding: 8px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
}

.submit:hover, .reset:hover{
    font-size: 1.2rem;
    padding:5px;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem;
}

.forcast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    font-size: large;
    background-color: #add4ff;
    padding: 0.8rem;
    border-radius: 5%;
}

#conditions {
	color: #000;
	line-height: 25px;
	text-align: center;
	position: relative;
	bottom: -20%;
}

#small-icons {
	display: flex;
	justify-content: center;
	position: relative;
	list-style-type: none;
	top: 5%;
	visibility: visible;
	
}

#small-icons li .fas {
	font-size: 3rem;
	margin: 5px;
}

#cloudsm {
	color: rgb(244, 244, 250);
}
#rainsm {
	color: rgb(131, 131, 131);
}
#sunsm {
	color: rgb(233, 218, 3);
}
#fogsm {
	color: rgb(131, 131, 131);
}

#container-message {
	width: 70%;
    text-align: center;
    margin-top: 3rem;
    color: #616860; 
}

/*Weathericons*/
.fas {
    font-size: 6rem;
}

#sun {
    color: rgb(233, 218, 3);
    visibility: hidden;
    position: relative;
    top: -40%;
}

#cloud {
    color: rgb(244, 244, 250);
    visibility: hidden;
    position: relative;
    top: -65%;
}

#rain {
    color: rgb(131, 131, 131);
    visibility: hidden;
    position: relative;
    top: -90%;
}

#fog {
    color: rgb(131, 131, 131);
    visibility: hidden;
    position: relative;
    top: -115%;
}

footer {
    color: #f3ff51;
}

@media only screen and (min-width: 450px ) {
    body {
        font-size: 1.1rem;
    }

    h1{
        font-size: 180%;
        margin: 1rem 1.4rem;
    }

    .inputValue {
        width: 45%;
        margin: 1.6rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .forcast-container {
        margin: 1rem;
        width: 390px;
    }

    .fas {
        font-size: 8rem;
    }

    #sun {
        top: -45%;
    }
    
    #cloud {
        top: -77%;
    }
    
    #rain {
        top: -110%;
    }
    
    #fog {
        top: -140%;
    }

}

@media only screen and (min-width: 650px ) {

    body {
        font-size: 1.2rem;
        margin: 2rem 0;
    }

    h2 {
        font-size: 1.6rem;
		grid-area: city;
		align-self: flex-end;
    }

    .submit:hover, .reset:hover {
       font-size: 1.3rem;
       padding: 5px;
    }

	.forcast-container {
		display: grid;
		grid-template-areas: 
		"city animation"
		"conditions animation";
		grid-template-rows: 1fr 2fr;
		font-size: large;
		background-color: #add4ff;
		padding: 0.8rem;
		border-radius: 5%;
		width: 600px;
	}

	#small-icons {
		position: relative;
		list-style-type: none;
		top: -180%;
		left: 20%;
		visibility: visible;
	}

	#small-icons li .fas {
		font-size: 5rem;
		margin: 10px;
	}

	#container-message {
		width: 200%;
		text-align: center;
		position: relative;
		left: -170%;
	}

	.forcast-container h3 {
		position: relative;
		top: -70%;
		left: 38%;
	}

	.forcast-container h2 {
		margin-left: 2rem;
		margin-bottom: 0;
	}

	#conditions {
		grid-area: conditions;
		align-self: flex-start;
		margin-left: 2rem ;
		text-align: left;
		max-width: 16rem;
	}

    .fas {
        font-size: 9rem;
		grid-area: animation;
    }

    #sun {
		top: 20%;
		left: -55%;
    }
    
    #cloud {
		top: 21%;
		left: -65%;
    }
    
    #rain {
		top: 20%;
		left: -65%;
    }
    
    #fog {
        top: 20%;
		left: -65%;
    }
 
}
